In [ ]:
#Data Pre Processing ----> ML Model 

1.Improve model accuracy 
2.analysis & training 



Steps:
    
    1.Data Cleaning (dup, remove incorrect , missing , fix )
    2.Data Transformation (gender male , female --> 0,1)
    3.Feature Engineering (new feature )
    
        3.1 .Feature Scaling ( Normalization (Min-Max Scaling)  ,  Standardization (Z-score Scaling) )
        3.2 .Outlier detection  (dog , cat)
        
            1.Statistical Methods:

                Z-score (|z| > 3 considered outlier)

                IQR method (Q1 - 1.5×IQR, Q3 + 1.5×IQR)

            2.Visualization:

                Boxplots, histograms, scatterplots

            3.Model-Based:

                Isolation Forest

                DBSCAN

                LOF (Local Outlier Factor)
                
    4.Feature Selection (select 1 feature --> model )

In [1]:
#Feature Engineering 


import pandas as pd

#Titanic-Dataset.csv

Td=pd.read_csv("Titanic-Dataset.csv")

In [2]:
print(Td)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [ ]:
#Steps in FE:

1.Droping
2.Handling missing values (Nan, null, empty string , special char )
3.Creating feature (family_size)
4.encode categorical variables
5.Feature Scaling

In [4]:
Td = Td.drop('Pclass', axis=1)

In [11]:
#print(Td)

#missing

Td['Age'].fillna(Td['Age'].median())
print(Td['Age'])

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [12]:
#new feature 

Td['family_size']=Td['SibSp']+Td['Parch']+1

In [13]:
print(Td['family_size'])

0      2
1      2
2      1
3      2
4      1
      ..
886    1
887    1
888    4
889    1
890    1
Name: family_size, Length: 891, dtype: int64

In [15]:
Td['Isalone']=(Td['family_size']==1).astype(int)

In [17]:
print(Td['Isalone'])

0      0
1      0
2      1
3      0
4      1
      ..
886    1
887    1
888    0
889    1
890    1
Name: Isalone, Length: 891, dtype: int32

In [20]:
#Step processing with encoding

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Td['Sex']=le.fit_transform(Td['Sex']) # fema=0, male =1
Td['Embarked']=le.fit_transform(Td['Embarked']) #s=0 , c =1

In [22]:
print(Td['Sex'])
print(Td['Embarked'])

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64
0      2
1      0
2      2
3      2
4      2
      ..
886    2
887    2
888    2
889    0
890    1
Name: Embarked, Length: 891, dtype: int32

In [29]:
#feature scaling

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()



Td[['Age','Fare','family_size']]=scaler.fit_transform(Td[['Age','Fare','family_size']])
print(Td['Age'])
print(Td['Fare'])
print(Td['family_size'])

0     -0.530377
1      0.571831
2     -0.254825
3      0.365167
4      0.365167
         ...
886   -0.185937
887   -0.737041
888         NaN
889   -0.254825
890    0.158503
Name: Age, Length: 891, dtype: float64
0     -0.502445
1      0.786845
2     -0.488854
3      0.420730
4     -0.486337
         ...
886   -0.386671
887   -0.044381
888   -0.176263
889   -0.044381
890   -0.492378
Name: Fare, Length: 891, dtype: float64
0      0.059160
1      0.059160
2     -0.560975
3      0.059160
4     -0.560975
         ...
886   -0.560975
887   -0.560975
888    1.299429
889   -0.560975
890   -0.560975
Name: family_size, Length: 891, dtype: float64